/*@font-face {
  font-family: 'Quicksand Bold';
  src: url(../fonts/Quicksand_Bold.otf);
}
*/

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Quicksand.ttf);
}