.pane {
	-fx-background-image: url("../img/soccer.png");
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
	-fx-font-family: 'Quicksand';
}

.highlightedRow {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.button {
	-fx-padding: 0;
	-fx-margin: 0;
	-fx-background-color: #101010;
	-fx-text-fill: white;
	-fx-font-size: 60;
	-fx-font-family: 'Quicksand';
	-fx-opacity: 80%;
	-fx-border-width: 1px;
	-fx-border-color: #cecece;
	-fx-border-style: solid;
}

.button: hover {
	-fx-background-color: #000000;
	-fx-opacity: 90%;
	-fx-cursor: hand;
}

.table-view {
    	-fx-base: #1d1d1d;
    	-fx-control-inner-background: #1d1d1d;
    	-fx-background-color: #1d1d1d;
   	-fx-table-cell-border-color: transparent;
   	-fx-table-header-border-color: transparent;
	-fx-padding: 5;
	-fx-opacity: 200%;
	-fx-font-family: 'Quicksand';
}

.table-view .column-header-background {
  
}

.table-view .column-header .label {
    -fx-font-size: 22;
    -fx-font-family: 'Quicksand';
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    	-fx-background-color: #000000;
	-fx-table-cell-border-color: transparent;
}

.table-cell {
    -fx-alignment: CENTER;
}

.ComboBox {
	-fx-background-color: #1d1d1d;
}

.table-cell.selected {
	-fx-border-color: #1d1d1d;
	-fx-table-cell-border-color: transparent;
}

