@import url("../fonts.css");

.pane {
	-fx-background-image: url("../img/soccer.png");
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {

    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 22;
    -fx-font-family: 'Quicksand Book';
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-cell {
    -fx-alignment: CENTER;
}


.footballfield {
	-fx-background-image: url("../img/footballfield.png");
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
}

.button {
	-fx-padding: 5;
	-fx-margin: 0;
	-fx-background-color: #101010;
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-font-family: 'Quicksand Book';
	-fx-opacity: 80%;
	-fx-border-width: 1px;
	-fx-border-color: #cecece;
	-fx-border-style: solid;
}

.button: hover {
	-fx-background-color: #000000;
	-fx-opacity: 90%;
	-fx-cursor: hand;
}